In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

In [2]:
df = pd.read_csv("./data/wikipedia-vectors.csv")

In [3]:
df = df.drop("Unnamed: 0", axis=1)

In [4]:
df.head()

,HTTP 404,Alexa Internet,Internet Explorer,HTTP cookie,Google Search,Tumblr,Hypertext Transfer Protocol,Social search,Firefox,LinkedIn,...,Chad Kroeger,Nate Ruess,The Wanted,Stevie Nicks,Arctic Monkeys,Black Sabbath,Skrillex,Red Hot Chili Peppers,Sepsis,Adam Levine
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.008878,0.0,0.0,0.049502,0.000000,0.00000,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.00611,0.0
2,0.0,0.029607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.00000,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.005646,0.00000,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.00000,0.0

In [5]:
documents = df.values

In [6]:
titles = df.columns.values

In [7]:
scipy.sparse.issparse(documents)

False

In [8]:
articles = scipy.sparse.csr_matrix(documents)

## Cluster Wikipedia articles using a pipeline with PCA and KMeans

In [9]:
# Instantiate PCA model using TruncatedSVD in order to be able to use csr_matrix sparse matrixes
svd = TruncatedSVD(n_components=50)

In [10]:
# Instantiate a KMeans instance
kmeans = KMeans(n_clusters=6)

In [11]:
# Create a pipeline
pipeline = make_pipeline(svd, kmeans)

In [12]:
# Fit the documents
pipeline.fit(articles.T)

Pipeline(steps=[('truncatedsvd', TruncatedSVD(n_components=50)),
                ('kmeans', KMeans(n_clusters=6))])

In [13]:
# Calculate the cluster labels: labels
labels = pipeline.predict(articles.T)

In [14]:
# Create a DataFrame aligning labels and titles: df
df = pd.DataFrame({'label': labels, 'article': titles})

# Display df sorted by cluster label
print(df.sort_values('label'))

    label                                        article
49      0                                       Lymphoma
41      0                                    Hepatitis B
42      0                                    Doxycycline
43      0                                       Leukemia
44      0                                           Gout
45      0                                    Hepatitis C
46      0                                     Prednisone
47      0                                          Fever
48      0                                     Gabapentin
40      0                                    Tonsillitis
59      1                                    Adam Levine
51      1                                     Nate Ruess
52      1                                     The Wanted
53      1                                   Stevie Nicks
54      1                                 Arctic Monkeys
55      1                                  Black Sabbath
56      1                                       Skrillex
57      1                          Red Hot Chili Peppers
50      1                                   Chad Kroeger
58      1                                         Sepsis
0       2                                       HTTP 404
9       2                                       LinkedIn
1       2                                 Alexa Internet
2       2                              Internet Explorer
3       2                                    HTTP cookie
4       2                                  Google Search
5       2                                         Tumblr
6       2                    Hypertext Transfer Protocol
7       2                                  Social search
8       2                                        Firefox
11      3       Nationally Appropriate Mitigation Action
12      3                                   Nigel Lawson
13      3                               Connie Hedegaard
14      3                                 Climate change
15      3                                 Kyoto Protocol
16      3                                        350.org
17      3  Greenhouse gas emissions by the United States
18      3  2010 United Nations Climate Change Conference
10      3                                 Global warming
19      3  2007 United Nations Climate Change Conference
38      4                                         Neymar
39      4                                  Franck Ribéry
36      4              2014 FIFA World Cup qualification
34      4                             Zlatan Ibrahimović
33      4                                 Radamel Falcao
32      4                                   Arsenal F.C.
31      4                              Cristiano Ronaldo
30      4                  France national football team
37      4                                       Football
35      4                Colombia national football team
21      5                             Michael Fassbender
28      5                                  Anne Hathaway
27      5                                 Dakota Fanning
26      5                                     Mila Kunis
25      5                                  Russell Crowe
24      5                                   Jessica Biel
23      5                           Catherine Zeta-Jones
22      5                              Denzel Washington
20      5                                 Angelina Jolie
29      5                               Jennifer Aniston