In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/scrobbler-small-sample.csv")

In [3]:
df.head()

   user_offset  artist_offset  playcount
0            1             79         58
1            1             84         80
2            1             86        317
3            1             89         64
4            1             96        159

In [4]:
# Read artist text file into an array named artist_list
with open('data/artists.csv') as f:
    artist_list = f.read().splitlines()

In [7]:
scrobbler = df.values